<body>

<p style="color: green"><%= notice %></p>

<div class="container mt-4">
  <table class="table table-bordered">
    <tbody>
      <div id="lists">
        <% @lists.each do |list| %>
          <%= render partial: 'list', locals: { list: list } %>
        <% end %>
      </div>
    </tbody>
  </table>
</div>

</body>
