<!-- show.html.erb -->
<body>

<p style="color: green"><%= notice %></p>

<div>
  <p><strong>Description:</strong> <%= @list.description %></p>
  <p><strong>Completed:</strong> <%= @list.completed %></p>

  <%= link_to "Back", lists_path %>

</div>

</body>
